.heading{
 	font-size: 35px; 
	text-align: center;
	display: block;
}	
body{
	padding: 12px;
}
.section { 
	background: gray;
	position: relative;
	padding: 15px 6px 0px 6px;
	box-sizing: border-box;
	border: 3px solid black; 
	margin-bottom: 15px;
	margin-right: 10px;
	/*height: 120px;*/
}

.section-title {
	position: absolute;
	top: 0px;
	right:0px;
	padding: 5px 16px 0px 16px;
	box-sizing: border-box;
	border: 3px solid black; 
}
#Chicken .section-title {background: orange;}
#Beef 	 .section-title {background: red;}
#Pork    .section-title{background: yellow;}




@media (max-width: 767px){
	.section{
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.section{
		display: inline-block;
	}
	#Chicken{
		width: 48%;
	}
	#Beef{
		width: 48%;
	}
	#Pork{
		width: 96%;
	}
}
@media(min-width: 992px){
	.section{
		width: 30%;
		display: inline-block;
	}
}